<div class="jumbotron mt-4">
    <h1 class="display-4"> Enciclopedia </h1>
    <p class="lead">Toda la información que tiene la app sobre botánica a tu disposicón.</p>
    <hr class="my-4">
    <a class="btn btn-primary" href="#">Agregar Información</a>
    <a class="btn btn-primary" href="#">Listar Información</a>
</div>